body {
    background: black;
}

div {
    width: max-content;
    margin: auto;
    font-family: sans-serif;
    background-color: lightblue;
    border: 5px solid green;
    padding: 0 20px;
}

.detail, .err, input , select , .data{
    font-size: 2vh;
}

.err {
    color: red;
    font-style: italic;
    font-weight: bold;
    padding: 0 0 12px 12px;
    border: 0;
    height: 5vh;
}

h1 {
    text-align: center;
    font-size: 3vh;
    font-family: cursive;
}

.detail {
    text-align: right;
    background-color: pink;
    font-weight: bold;
    border-radius: 10px 0 0 10px;

}

.data {
    width: 40vh;
    background-color: lightyellow;
    border-radius: 0 10px 10px 0;

}

table {
    border-collapse: collapse;
}

table td {
    padding: 10px;
}

#reset_btn,
#sub_btn {
    font-size: 2vh;
    background-color: lightgreen;
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
}

#reset_btn {
    background-color: orange;
}